/* No footer on mobile */

footer {
  display: none;
}

@media screen and (min-width: 600px) {
  footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}