header {
  width: 100%;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

header a {
  color: white;
}

header h1 {
  margin-bottom: 10px;
}

header h1 .page-title {
  font-size: smaller;
  margin-left: 10px;
}