header {
  width: 100%;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
}

header a {
  color: white;
}

header h1 {
  margin-bottom: 10px;
}

header h1 .page-title {
  display: block;
  font-size: smaller;
}

@media screen and (min-width: 600px) {
  header h1 .page-title {
    margin-left: 10px;
    display: inline;
  }
}