/* mobile first nav bar */

nav .menu-list {
  display: none;
  margin-top: 5px;
}

nav .menu-name {
  text-decoration: underline;
}

nav .links {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

nav .menu-list li {
  list-style-type: none;
}

nav .menu-list.open {
  display: block;
}

nav a.active {
  color: yellow;
}

nav a:hover {
  color: yellow;
}

/* Large screens get a horizontal menu with names showing */

@media screen and (min-width: 600px) {

  nav {
    display: flex;
    flex-direction: row;
  }

  nav .icon {
    display: none;
  }

  nav .menu-list {
    display: block;
    margin-right: 40px;
  }

  nav .menu-name {
    display: block;
    font-size: 16pt;
    cursor: pointer;
    text-decoration: none;
  }

  nav .menu-name:hover {
    color: yellow;
  }

  nav .links {
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: thin inset #ccc;
    margin-top: 0px;
    margin-left: -10px;
    position: fixed;
    z-index: 1; 
    background-color: black;
  }

  nav .links.open {
    display: block;
  }

}