nav {
  display: flex;
  flex-direction: row;
}

nav .menu-list {
  margin-right: 40px;
}

nav .menu-name {
  font-size: 16pt;
  cursor: pointer;
}

nav .menu-name:hover {
  color: yellow;
}

nav ul.links {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin-top: 0px;
  margin-left: -5px;
  position: fixed;
  z-index: 1; 
  background-color: black;
}

nav li {
  list-style-type: none;
  cursor: pointer;
}

nav a {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}